{% extends "app/layout.html" %}

{% block content %}


    <div class="row">
        <div class="col-md-12">
            <h1>{{ employee.name }}</h1>
        </div>
    </div>
    <div class="col-md-12">
        {% if employee.isActive == True %}
            <p class="text-success">Работает</p>
        {% else %}
            <p class="text-danger">Уволен</p>
        {% endif %}
        <p>Подразделение: <a
                href="{% url 'department_content_view' id=employee.department.id %}">{{ employee.department.name }}</a>
        </p>
        <p>Должность: {{ employee.position.name }}</p>
        <p>День рождения: {{ employee.birthday|date:"j E" }}</p>
        {% if employee.isActive == True %}
            <p>Работает с: {{ employee.worksSince|date:"j E Y" }}</p>
        {% else %}
            <p>Работал с: {{ employee.worksSince|date:"j E Y" }}</p>
            <p>Уволен: {{ employee.dismissed|date:"j E Y" }}</p>
        {% endif %}
    </div>


{% endblock %}